.section-title {
  display: block;
  width: 100%;
  text-align: center;
  margin: 3.5rem 0;

  .section-title__text {
    font-size: 4.2rem;
    font-weight: 800;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.icon--github {
  mask-image: url('../../../public/imgs/github_icon.svg');
}

.icon--link {
  mask-image: url('../../../public/imgs/link_chain_icon.svg');
}

.icon {
  width: 3.2rem;
  height: 3.2rem;
  mask-size: cover;
}

.close-btn,
.close-btn:hover,
.close-btn:focus {
  padding: 0;
  margin: 0;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color: $text-color;
  background: $primary-color;
  border: none;
  font-weight: 700;
}
