.h-100vh {
  height: 100vh;
}

@mixin absolute-position($top: auto, $left: auto, $bottom: auto, $right: auto) {
  position: absolute;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
}

@mixin flex-center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Navbar
//////////////
.navbar {
  background: transparent;
  position: fixed;
  height: 10rem;
  width: 100%;
  padding-left: 2rem;
  z-index: 999;
  transition: 0.4s ease 0s;
  transition-property: height, padding;

  .navbar__brand {
    font-size: 2rem;
  }

  .navbar__icon--menu {
    cursor: pointer;
    width: 5rem;
    height: 5rem;
  }

  &::before {
    @include absolute-position(0, 0, 0, 0);
    content: '';
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.27);
    background: linear-gradient(to right, $gradient-start, $gradient-end);
    opacity: 0;
    transition: opacity 0.4s ease 0s;
    z-index: -1;
  }

  &.fixed {
    height: 7.5rem;

    &::before {
      opacity: 1;
    }
  }
}

// Nav Modal
//////////////
#nav-modal__overlay {
  @include flex-center-content();
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.nav-modal__content {
  @include flex-center-content();
  background-color: $nav-modal-color;
  width: 100%;
  height: 100%;
  animation: 0.5s forwards;
  z-index: 9999;

  .nav-modal__list {
    list-style: none;
    text-align: center;
  }

  .nav-modal__item {
    margin-bottom: 2.5rem;
  }

  .nav-modal__link {
    text-decoration: none;
    color: inherit;
    font-size: 3rem;
    font-weight: 600;
  }

  &.fadeIn {
    animation-name: fadeIn;
  }

  &.fadeOut {
    animation-name: fadeOut;
  }
}

// Intro
.intro__bg {
  background-image: linear-gradient(
      to right,
      rgba($gradient-start, 0.8),
      rgba($gradient-end, 0.8)
    ),
    url('../../../public/imgs/home-img.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
}

.intro__content {
  padding: 3.5rem;
  padding-top: 10.5rem;

  .intro__title {
    font-size: 12rem;
  }

  .intro__subtitle {
    font-size: 5rem;
    font-weight: 800;

    .intro__subtitle-prefix {
      font-weight: 400;
    }
  }

  .intro__description {
    font-size: 2.5rem;
  }
}

// About
.about__bg {
  padding: 12rem 7.5rem;
}

.about__img {
  margin-top: 5.5rem;
  height: 38.5rem;
  z-index: 1;
  position: relative;

  .about__img__img {
    height: 100%;
  }

  &::after {
    @include absolute-position(-4.5rem, 5rem);
    border: 7px solid $primary-color;
    content: '';
    height: 100%;
    width: 60%;
    z-index: -1;
  }
}

.about__content {
  display: block;
  text-align: left;

  .about__profile {
    list-style: none;

    .about__profile-item {
      font-size: 1.75rem;
      margin-bottom: 1.6rem;

      .about__profile-label {
        font-weight: 700;
      }
    }
  }
}

.about__resume-btn {
  @include flex-center-content();
  margin-top: 3rem;
  margin-left: 5rem;
  width: 20rem;

  .resume-btn__link {
    padding: 1rem 2rem;
    border-radius: 5px;
    color: inherit;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
  }
}

// Projects
#projects {
  scroll-margin-top: 10rem;
}

.projects__content {
  padding: 10rem 12rem;
}

// Project Card
.project-card {
  width: 30rem;
  height: 30rem;

  .project-card__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.project-overlay {
  display: block;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.4s;

  &:hover,
  &:focus {
    background-color: $bg-dark-transparent;
    opacity: 1;
    box-shadow: 1px 6px 24px $dark-shadow-color;

    .project-overlay__content::before {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  .project-overlay__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem 3rem;
    width: 100%;
    height: 100%;

    &::before {
      @include absolute-position(50%, 50%);
      content: ' ';
      width: 90%;
      height: 90%;
      background-color: $bg-light-transparent;
      transition: all 0.4s;
      transform: translate(-50%, -50%) scale(0);
      z-index: -1;
    }

    .project__name {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 2rem;
    }

    .project__skills {
      font-weight: 600;
    }

    .project__links {
      @include flex-center-content();
      width: 100%;
      height: 100%;

      .project__link {
        display: inline-block;
        margin-right: 1rem;
      }
    }
  }
}

.icon-container {
  @include flex-center-content();
  border: $primary-color 1px solid;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  transition: 0.4s;

  &:hover {
    background-color: $primary-color;

    .icon {
      background-color: $text-color;
    }
  }

  .icon {
    transition: 0.4s;
  }
}

// Contact
.form__submit-btn {
  background-color: transparent;
  color: $primary-color;
  border-image: linear-gradient(to right, $gradient-start, $gradient-end);
  border-image-width: 1px;
  border-image-slice: 1;
  padding: 1.5rem 5rem;
  transition: all 0.3s ease 0;
  font-size: 1.6rem;

  &:focus,
  &:hover {
    background-color: $primary-color;
    font-weight: 600;
    color: $bg-dark;
    box-shadow: 0 1px 20px $btn-shadow-color;
  }
}

.form-control {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid $form-color;
  transition: all 0.4s;
  color: $form-color;
  font-size: 1.6rem;

  &:focus,
  &.is-invalid:focus {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $primary-color;
    box-shadow: none;
    color: $form-color;

    & + .form-group__label {
      color: $primary-color;
      font-size: 1.1rem;
      top: -3px;
    }
  }

  &.is-invalid {
    border-bottom: 2px solid $form-color;
    box-shadow: none;
    background-image: none;
  }
}

.form-group {
  position: relative;

  .form-group__label {
    @include absolute-position(0, 0);
    color: $form-color;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.4s;
    font-size: 1.4rem;
  }
}

.invalid-feedback {
  color: $primary-color;
}

.form__message-col {
  background-color: $bg-msg-col;
  color: $primary-color;
  font-weight: 300;
  border: none;
  padding: 1rem;
}

.close-btn,
.close-btn:hover,
.close-btn:focus {
  padding: 0;
  margin: 0;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color: $text-color;
  background: $primary-color;
  border: none;
  font-weight: 700;
}

// Scrollbar
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-button {
  display: block;
  height: 0px;
  border-radius: 0px;
  background-color: $bg-scrollbar;
}

::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: $bg-scrollbar;
}
