@import '../../variables.scss';

li {
  color: $text-color;
}

.case-study-img-container {
  border: solid 3px;
  border-color: $primary-color;
  max-height: 375px;
  max-width: 100%;
  background-color: $bg-color;
  display: flex;
  justify-content: center;
  position: relative;
  right: -2000px;
  animation: slide-left 1s ease-out;
  animation-fill-mode: forwards;
}

.case-study-img-container img {
  opacity: 0;
  animation: appear 0.8s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.case-study-section {
  opacity: 0;
  animation: appear 0.8s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
