.bg--dark {
  background-color: $darkBG;
}

.bg--gradient {
  background: linear-gradient(to right, $gradientStart, $gradientEnd);
}

.bg--primary {
  background-color: $primaryColor;
}

.text--primary {
  color: $primaryColor;
}
