@import '../../variables.scss';

.footer-container {
  background-color: black;
  bottom: -100px;
  animation: slide-up 0.8s ease-out;
  animation-fill-mode: forwards;
}

@keyframes slide-up {
  100% {
    bottom: 0px;
    z-index: 999;
  }
}

.icon {
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  width: 32px;
  height: 32px;
  background-color: $primary-color;
  transition: background-color 0.25s ease-out;
}

.icon:hover {
  background-color: $secondary-color;
}

.icon-parent:focus-within .icon {
  background-color: $secondary-color;
}

.resume-btn {
  font-size: 26px;
}
