.icon {
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  width: 32px;
  height: 32px;
  background-color: forestgreen;
}

.resume-btn {
  background-color: rgba(0, 0, 0, 0);
  color: forestgreen;
  border: none;
}

.resume-btn:hover {
  background-color: rgba(0, 0, 0, 0);
  color: purple;
  border: none;
}

.resume-btn::after {
  content: '';
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: purple;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
