$bg-dark: #22252c;
$gradient-start: #17d396;
$gradient-end: #07f7f7;
$nav-modal-color: rgba(0, 0, 0, 0.9);
$primary-color: #00d7bb;
$btn-shadow-color: rgba(22, 213, 156, 0.7);
$bg-dark-transparent: rgba(0, 0, 0, 0.2);
$dark-shadow-color: #3e3e3e;
$bg-light-transparent: rgb(255, 255, 255, 0.9);
$form-color: #ccc;
$bg-scrollbar: #313741;
$bg-msg-col: #313741;
$text-color: #fff;
