@media screen and (max-width: 768px) {
  .intro-content h1 {
    font-size: 80px;
  }
  .intro-content h3 {
    font-size: 30px;
  }
  .intro-content p {
    font-size: 20px;
  }

  .about-img-resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  .resume-btn {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .about-bg {
    padding: 0;
  }
}

@media screen and (max-width: 1080px) {
  .about-img::after {
    display: none;
  }
}
